$font-family: "Helvetica Neue", "Raleway", sans-serif;
$font-family2:"Oswald", sans-serif;
$font-weight: 400;
$line-height: 1.6;

/****colors******/
$white-text:#fff;
$primary-red:#d15454;
$body-color:#383c40;
$body-wrapper-bg-color:rgba(40, 40, 40, 0.5);
$returnToTop-bg-color:#f1f1f1;
$bg-light: #f8f9fa ;
$footer-icon-bgBlack:#3e4043;