@import 'global/_variables.scss';
@import 'global/_mixin.scss';
@import 'containers/ProductDisplay/contents.scss';
.productDisplay-container{
 @include page_container;
}

.page-highlight {
  display: flex;
  color: whitesmoke;
  flex-direction: column;
  text-align: center;
  min-height: 196px;
  align-items: center;
  justify-content: center;
  .main-title {
    line-height: 1.3rem;
    font-size: 3rem;
    margin: 0 0 16px;
    font-weight: 500;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
  }
  .secondary-title {
    margin-top: 1rem;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
    font-size: 1.5rem;
    line-height: 1.3rem;
    font-weight: 400;
  }

}

.content-filter-container{
  width: 90%;
  height: auto;
  margin: 1rem auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  .accordion{
    width: 100%;
  }
}

.filterItems{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.filter-input{
  width: 100%;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 0.5rem 0.3rem;
  align-items: center;
  border: 1px solid gray;
  .search-icon,.filter-icon{
    font-size: 1.5rem;
  }
  .search-icon,.filter-icon{
    color: $body-color-black;
  }
  .search-icon:hover,.filter-icon:hover{
    color: $primary-red;
  }
  input {
    width: 90%;
  }
  input,button{
    outline: none;
    border: none;
    background: none;
  }
  .filter-input-btn {
    margin-left: auto;
  }
}
.filter-items-details {
  display: flex;
  justify-content: flex-start;
}
.filter-items-details input {
  margin-right: 0.3rem;
}

.filter-items-details label {
  margin: 0 1rem;
  display: flex;
  align-items: center;
}

.filter-items-details label:first-of-type {
  margin-left: 0;
}

.filter-offers-info-container {
  list-style-type: none;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 1rem 0;
  justify-content: space-evenly;
}

.filter-offers-info-container {
  list-style-type: none;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 1rem 0;
  justify-content: space-evenly;
}

.filter-offers-info-container span:hover {
  color: #d04f3e;
}

.filter-offers-info-container [type="radio"]:checked,
.filter-offers-info-container [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  visibility: hidden;
}

.filter-offers:checked + label {
  background-color: rgba(201, 201, 201, 0.5);
  border-radius: 25em;
}
.filter-offers:checked + label,
.filter-offers:not(:checked) + label {
  position: relative;
  display: inline-block;
  padding: 0.5rem;

  letter-spacing: 1px;
  margin: 0 auto;

  text-align: center;

  overflow: hidden;
  cursor: pointer;
  text-transform: uppercase;
}
.filter-offers:checked + label::before,
.filter-offers:not(:checked) + label::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: transparent;
  z-index: -1;
}
.filter-offers:checked + label span,
.filter-offers:not(:checked) + label span {
  position: relative;
  display: block;
}

.filter-offers:checked + label span::before,
.filter-offers:not(:checked) + label span::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  color: rgb(56, 60, 64);
}

.filter-offers:checked + label span::before {
  max-height: 100%;
}

/************ For Small devices(landscape phones) and up***************/
@media only screen and (min-width: 576px) {
  
      .content-filter-container{
        width: 100%;
      }

      .filter-input{
          width: 50%;
      }
      .filterItems{
        width: 50%;
      }
      .page-highlight{
        width: 100%;
      }

}

/************ For Large devices(destops) and up***************/
@media only screen and (min-width: 992px) {

}

/************ For Extra large devices(PC) and up***************/
@media only screen and (min-width: 1200px) {

}