#shopping-cart-modal {
  .h4{
    margin-bottom: 1rem;
  }
  
  .cart-icon {
    color: rgb(170, 170, 170);
  }
  .cart-detail {
    .remove-btn{
      background-color: transparent;
      border: none;
    }
  }
  .clear-cart{
    background-color: transparent;
    border: none;
    color: $primary-red;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    .clear-text{
      margin-top: 5px;
    }
    margin-left: auto;
    &:hover{
      transform: scale(1.2) translateX(-5px);
    }
  }
   .cart-number-input {
     .qty-title{
       margin-right: 1rem;
        width:30% ; 
     }
     text-align: left;
    padding: 0;
  }
  .update-product {
    width: 40%;
    
     /* Chrome, Safari, Edge, Opera */
     input[type=number]::-webkit-outer-spin-button,
     input[type=number]::-webkit-inner-spin-button {
       -webkit-appearance: none;
       margin: 0;
       }
  }
  input[type=number] {
    -moz-appearance: textfield;
    text-align: center;
  }
  .card-title{
    font-weight: 400;
  }
  .order-info{
    padding-left: 0;
  }
  .modal-footer{
    display: flex;
    .checkout-btn{
      width: auto;
      margin-right: 1rem;
    }
  }
} 



